@{
    ViewData["title"] = "تسجيل الدخول";
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    
                       
                             <div class="container">
                        <img src="~/assets/img/favicon/crm.png" style="width:100% !important; height:100%;" />
                    </div>   
                        <div class="app-brand justify-content-center">   
                            <span class="app-brand-text demo h3 fw-bold mb-0">@SystemInfoResource.SystemName</span>
                       
                    </div>
                    <h2>@FormResources.LoginText</h2>
                    <p>@FormResources.Text</p>
                    <!-- /Logo -->
                    <form id="formAuthentication" class="mb-3" asp-route="login" method="post">
                        @if(ViewBag.ErrorLogin == false)
                        {
                            <div class="mb-3">
                                <span class="alert alert-danger">@FormResources.LoginError</span> 
                            </div> 
                        }
                       
                        <div class="mb-3">
                            <label for="email" class="form-label">@FormResources.Email أو @FormResources.Username</label>
                            <input type="text"
                                   class="form-control"
                                   id="email"
                                   asp-for="Email"
                                   name="email"
                                   placeholder="@FormResources.EmailPlaceholder"
                                   autofocus />
                            <small class="text-danger" asp-validation-for="Email" ></small>
                        </div>
                        <div class="form-password-toggle mb-3">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="password">@FormResources.Password</label>
                            </div>
                            <div class="input-group input-group-merge">
                                <input type="password"
                                       id="password"
                                       class="form-control"
                                       name="password"
                                       asp-for="Password"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                            <small class="text-danger" asp-validation-for="Email"></small>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="RememberMy" type="checkbox" id="remember-me" />
                                <label class="form-check-label" for="remember-me">@FormResources.RememberMyLable</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="submit">@FormResources.LoginBtn</button>
                        </div>
                    </form>
                    </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>