@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "انهاء المكالمة";
}
<div class="layout-page">
 <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <!-- Layout container -->

          <div class="card">
            <div class="card-header border-bottom">

                    <h2 class="card-title text-center text-primary ">@PageHeaders.EndCall</h2>
              <div class="row mx-2">
                <div class="col-sm-12 col-md-4 col-lg-6">
                  <div class="datatables_length" id="DataTables_Table_0_length">
                    <div class="info-container">
                      <ul class="list-unstyled">
                        <li class="md-3"><span class="fw-bold me-2">مختار صالح الشتوي</span></li>
                        <li class="md-3"><span>mokhtar77097@gmail.com-770973531</span></li>
                      </ul>

                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-6">
                  <div
                    class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0">
                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                      <div class="d-grid gap-2">
                        <button class="btn btn-primary  " data-bs-toggle="offcanvas"
                          data-bs-target="#sendInvoiceOffcanvas">
                          <span class="d-flex justify-content-center align-items-center text-nowrap">
                            <i class=""></i>إضافة سؤال </span></button>
                        <a href="calendar.html"><button class="btn btn-danger" type="button"> الرجوع الى النظام </button></a>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="offcanvas offcanvas-end show" id="sendInvoiceOffcanvas" style="visibility: visible;" aria-modal="true" role="dialog">
                  <div class="offcanvas-header border-bottom">
                    <h2 class="offcanvas-title"> إضافة سؤال </h2>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body flex-grow-1">
                    <form>
                      <div class="checkbox-card">
                        <label for="invoice-message" class="form-label">نص السؤال</label>
                        <textarea class="form-control" name="invoice-message" id="invoice-message" cols="3" rows="4">
                         </textarea>
                         <small>أدخل نبذة عن السؤال الذي سئل عنه العميل</small>

                       <div class="passport-box" >
                        <label for="invoice-message" class="form-label">نص الجواب</label>
                        <textarea class="form-control " name="invoice-message" id="invoice-message" cols="3" rows="4">
                         </textarea>
                         <small>أدخل إجابتك عن السؤال</small>
                       </div>

                         <div class="mb-3">
                          <div class="form-check">
                            <input class="form-check-input"  type="checkbox" id="checkme" />
                            <label class="form-check-label " for="text-nowrap"> بدون جواب </label>
                          </div>
                        </div>
                      </div>
                     

                      </div>
                      
                      <div class="d-grid gap-2">
                        <button type="button" class="btn btn-primary " data-bs-dismiss="offcanvas">إضافة</button>
                        <button type="button" class="btn btn-secondary " data-bs-dismiss="offcanvas">إلغاء</button>
                      </div>
                    </form>
                  </div>
                </div>
          </div>

          </div>

          <div class="row   ">
          <div class="col-sm-12 col-md-10 col-lg-12">
            <div class="card">
              <div class="card-body">
                <div tabindex="0" class="plyr plyr--full-ui plyr--audio plyr--html5 plyr--paused plyr--stopped">
                  <div class="plyr__controls">
                   
                  
                    
                   <div class="demo-inline-spacing">
                     
                    <div class="plyr__controls__item plyr__progress__container">
                      
                      <div class="plyr__progress"><span>
                      تسجيل المكالمة
                    </span>
                    <span class="plyr__tooltip"
                          style="left: 51.7589%;">01:07</span>&nbsp;
                     <input data-plyr="seek" type="range" min="0" max="100" step="0.01"
                          value="0" autocomplete="off" role="slider" aria-label="Seek" aria-valuemin="0"
                          aria-valuemax="129.619575" aria-valuenow="0" id="plyr-seek-9705"
                          aria-valuetext="00:00 of 00:00" style="--value:0%;" seek-value="53.14065214037699">&nbsp;<span class="plyr__tooltip"
                          style="left: 51.7589%;">01:07</span>&nbsp; <button type="button" class="btn rounded-circle btn-icon btn-primary">
                      <span class="tf-icons bx bx-play"></span>
                    </button></div>
                         
                    </div>
                    
                     </div>
                    
                    
                  </div> 
                  </div>
                </div>
              </div>
            </div>
          </div></div>
          

          <div class="row g-3 mb-3 d-flex justify-content-center">
            <div class="col-sm-12 col-md-3">
              <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h5 class="card-title m-0 me-2">الاتصالات السابقة</h5>

                </div>
                <div class="card-body">
                  <!-- Activity Timeline -->
                  <ul class="timeline">
                    <a href="call-information.html"></a><li class="timeline-item timeline-item-transparent ps-2">
                      <span class="timeline-point timeline-point-danger"></span>
                      <div class="timeline-event pb-2">
                        <div class="timeline-header mb-1">
                          <h4 class="mb-0">28/2/2023-10:45</h4>

                        </div>
                        <p class="mb-3">مختار الشتوي</p>
                        <div class="d-flex">

                          <span class="text-body fw-bold">12 دقيقة</span>

                        </div>
                      </div>
                    </li>
                    <li class="timeline-item timeline-item-transparent ps-4">
                      <span class="timeline-point timeline-point-danger"></span>
                      <div class="timeline-event pb-2">
                        <div class="timeline-header mb-1">
                          <h4 class="mb-0">28/2/2023-10:45</h4>

                        </div>
                        <p class="mb-2">775835700</p>
                        <div class="d-flex">

                          <span class="text-body fw-bold">12 دقيقة</span>

                        </div>
                      </div>
                    </li>
                    <li class="timeline-item timeline-item-transparent ps-4">
                      <span class="timeline-point timeline-point-danger"></span>
                      <div class="timeline-event pb-0">
                        <div class="timeline-header mb-1">
                          <h4 class="mb-0">3/2/2023-17:09</h4>
                        </div>
                        <p class="mb-2">رياض غازي</p>

                        <div class="d-flex">

                          <span class="text-body fw-bold">12 دقيقة</span>

                        </div>
                      </div>
                    </li>

                  </ul>
                  <!-- /Activity Timeline -->
                </div>
              </div>

            </div>
            <div class="col-sm-12 col-md-3">
              <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h5 class="card-title m-0 me-2">الأسئلة السابقة</h5>

                </div>
                <div class="card-body">
                  <!-- Activity Timeline -->
                  <ul class="timeline">
                    <li class="timeline-item timeline-item-transparent ps-4">
                      <span class="timeline-point timeline-point-danger"></span>
                      <div class="timeline-event pb-2">
                        <div class="timeline-header mb-1">
                          <h4 class="mb-0">إستفسار عن سير المعاملة</h4>

                        </div>
                        <p class="mb-3">الإجابة :... </p>
                        <span>التاريخ</span>
                      </div>
                    </li>
                    <li class="timeline-item timeline-item-transparent ps-4">
                      <span class="timeline-point timeline-point-danger"></span>
                      <div class="timeline-event pb-2">
                        <div class="timeline-header mb-1">
                          <h4 class="mb-0">إستفسار عن سير المعاملة</h4>

                        </div>
                        <p class="mb-3">الإجابة :... </p>
                        <span>التاريخ</span>
                      </div>
                    </li>
                    <li class="timeline-item timeline-item-transparent ps-4">
                      <span class="timeline-point timeline-point-danger"></span>
                      <div class="timeline-event pb-2">
                        <div class="timeline-header mb-1">
                          <h4 class="mb-0">إستفسار عن سير المعاملة</h4>

                        </div>
                        <p class="mb-3">الإجابة :... </p>
                        <span>التاريخ</span>
                      </div>
                    </li>
                  </ul>
                  <!-- /Activity Timeline -->
                </div>
              </div>

            </div>

            <!-- Content -->

            <div class="col-sm-12 col-md-5 ">
              <!-- Layout container -->
              <div class="card">
                <h2 class="card-header"> مشاريع العميل </h2>
                <div class="card-datatable text-nowrap">
                  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="row">
                      <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="DataTables_Table_0_length"><label><span class="px-2" >@FormResources.Show</span> <select
                              name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option>
                            </select>  <span class="px-2">@FormResources.Inputs</span>
                            </label>
                            </div>
                      </div>
                      <div class="col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                          <label>
                                <span class="px-2">@FormResources.SearchN:</span>
                                <input type="search" class="form-control" placeholder="@FormResources.Search" aria-controls="per_page">
                            </label>
                              </div>
                      </div>
                    </div>
                    <div class="dataTables_scroll">
                      <div class="dataTables_scrollHead"
                        style="overflow: hidden; position: relative; border: 0px; width: 100%;">

                      </div>
                      <div class="dataTables_scrollBody"
                        style="position: relative; overflow: auto; width: 100%; max-height: 300px; height: 300px;">
                        <table class="datatables-users table border-down">
                          <thead>
                            <tr>
                              <th> @TableHeaderProject.Id</th>
                              <th>@TableHeaderProject.ProjectName </th>
                              <th>  @TableHeaderProject.ProjectState</th>
                              <th>  @TableHeaderProject.RegistrationDate</th>
                              <th> @TableHeaderProject.ProcessWalk </th>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>مصنع الكبوس </td>
                              <td>قيد المعاملة</td>
                              <td>25/3/2023</td>
                              <td>مكتب البيئة</td>
                              </td>
                            </tr>
                          </thead>

                        </table>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 col-md-6">
                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                          عرض 1الى10من 100مدخلات
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6">
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                          <ul class="pagination">
                            <li class="paginate_button page-item previous disabled active"
                              id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0"
                                data-dt-idx="0" tabindex="0" class="page-link">@FormResources.Previous</a></li>
                            <li class="paginate_button" id="">
                              <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0"
                                class="page-link ">
                                1/10
                              </a>
                            </li>
                            <li class="paginate_button page-item next disabled active " id="DataTables_Table_0_next"><a
                                href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0"
                                class="page-link">@FormResources.Next</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <!-- Offcanvas to add new user -->

        </div>
        </div>
        @section Script{
<script>
          $(function(){
            $("#checkme").click(function(event){
              var x =$(this).is(':checked');
              if(x==false){
                $(this).parents(".checkbox-card").find('.passport-box').show();
              }
              else{
                $(this).parents(".checkbox-card").find('.passport-box').hide();
              }
            });
          });
         </script>
}